<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Home')}"></head>

<body th:replace="~{fragments/common :: body(~{::content})}">
<div th:fragment="content" class="flex w-full justify-center">
    <div class="flex flex-col gap-6 w-full lg:w-1/3">
        <div
                th:replace="~{tk/cards :: simpleCard('Expenses', 'Manage & track things that cost you money.', ~{::expensesContent})}">
            <div th:fragment="expensesContent">
                <div th:replace="~{fragments/expenses/toolbar :: toolbar}"></div>
                <div th:replace="~{fragments/expenses/list :: list}"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>