<div th:fragment="text(id, name)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <input th:id="${id}" type="text" th:name="${id}">
</div>

<div th:fragment="email(id, name)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <input th:id="${id}" type="email" th:name="${id}">
</div>

<div th:fragment="password(id, name)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <input th:id="${id}" type="password" th:name="${id}">
</div>

<div th:fragment="date(id, name)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <input th:id="${id}" type="date" th:name="${id}">
</div>

<div th:fragment="number(id, name)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <input th:id="${id}" type="number" th:name="${id}">
</div>

<div th:fragment="select(id, name, options)" class="flex flex-col">
    <label th:for="${id}" th:text="${name}"></label>
    <select th:id="${id}" th:name="${id}">
        <option th:each="option : ${options}" th:text="${option}"></option>
    </select>
</div>