<form th:fragment="authForm" class="flex flex-col gap-2" method="POST">
    <input th:replace="~{tk/inputs :: text('userName', 'Username')}">
    <input th:replace="~{tk/inputs :: text('password', 'Password')}">
    <button th:replace="~{tk/buttons :: submit('Log In')}"></button>
</form>

<form th:fragment="signUpForm" class="flex flex-col gap-2" method="POST">
    <input th:replace="~{tk/inputs :: email('email', 'email')}">
    <input th:replace="~{tk/inputs :: password('password', 'Password')}">
    <button th:replace="~{tk/buttons :: submit('Sign Up')}"></button>
</form>