<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Confirmed')}"></head>

<body class="flex justify-center items-center">
    <div class="flex flex-col gap-2">
        <div th:if="${error}">
            <div th:replace="~{tk/cards :: errorCard(${error})}"></div>
        </div>
        <div
            th:replace="~{tk/cards :: simpleCard('Confirmed', 'It\'s confirmed, you\'re terminally saving money.', ~{::content})}">
            <div th:fragment="content" class="flex flex-col gap-2">
                <a th:replace="~{tk/buttons :: link('Login', '/login')}"></a>
            </div>
        </div>
    </div>

</body>

</html>