<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Home')}"></head>

<body th:replace="~{fragments/common :: body(~{::content})}">
    <div th:fragment="content" class="flex w-full justify-center">
        <div class="flex flex-col gap-6 w-full lg:w-1/2">
            <div th:replace="~{tk/cards :: simpleCard('Home', 'Welcome to your home! Take a look around.', null)}">
            </div>
            <div th:replace="~{tk/cards :: simpleCard('Home', 'Welcome to your home! Take a look around.', null)}">
            </div>
            <div th:replace="~{tk/cards :: simpleCard('Home', 'Welcome to your home! Take a look around.', null)}">
            </div>
        </div>
    </div>
</body>

</html>