<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Login')}"></head>

<body class="flex items-center justify-center">
    <div class="flex flex-col gap-2">
        <div th:if="${error}">
            <div th:replace="~{tk/cards :: errorCard(${error})}"></div>
        </div>
        <div
            th:replace="~{tk/cards :: simpleCard('Welcome Back', 'We\'ve missed you.', ~{fragments/auth :: authForm})}">
        </div>
    </div>
</body>

</html>