<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Sign Up')}"></head>

<body class="flex justify-center items-center">
    <div th:replace="~{tk/cards :: simpleCard('Welcome aboard', 'Thanks for joining us.', ~{::content})}">
        <div th:fragment="content" class="flex flex-col gap-2">
            <p>There should be an e-mail in your inbox to confirm your user.</p>
            <a th:replace="~{tk/buttons :: link('Login', '/login')}"></a>
        </div>
    </div>
</body>

</html>