<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('Home')}"></head>

<body th:replace="~{fragments/common :: body(~{::content})}">
    <div th:fragment="content" class="flex w-full justify-center">
        <div class="flex flex-col gap-6 w-full lg:w-1/4 items-center justify-center">
            <div
                th:replace="~{tk/cards :: simpleCard('Oops', 'An error occurred while processing your request.', ~{::errorContent})}">
                <div th:fragment="errorContent" class="flex flex-col gap-4">
                    <div class="p-4 bg-neutral-400 dark:bg-neutral-900 drop-shadow-md rounded-lg">
                        <p class="font-mono text-neutral-500 dark:text-neutral-600" th:text="${message}"></p>
                    </div>
                    <a th:replace="~{tk/buttons :: link('Go Home', '/home')}"></a>
                </div>
            </div>
        </div>
</body>

</html>