@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply dark:bg-neutral-800;
    min-height: 100vh;
}

body {
    @apply min-h-screen w-full;
}

h1 {
    @apply text-3xl font-black;
    @apply text-neutral-900 dark:text-neutral-100;
}

h2 {
    @apply text-2xl font-black;
    @apply text-neutral-900 dark:text-neutral-100;
}

h3 {
    @apply text-xl font-black;
    @apply text-neutral-900 dark:text-neutral-100;

}

h4 {
    @apply text-lg font-bold;
    @apply text-neutral-900 dark:text-neutral-100;

}

h5 {
    @apply text-lg font-bold;
    @apply text-neutral-900 dark:text-neutral-100;
}

p {
    @apply text-neutral-700 dark:text-neutral-100;
}

p.subtitle {
    @apply text-neutral-600 dark:text-neutral-200;
}

p.error {
    @apply text-red-900 dark:text-red-400;
}

.card {
    @apply rounded-2xl;
    @apply p-8;
    @apply bg-neutral-100 dark:bg-neutral-900/50;
    @apply drop-shadow-md;
    @apply h-min;
}

.error-card {
    @apply border rounded-lg;
    @apply p-2;
    @apply border-red-400 dark:border-red-900;
}

.button {
    @apply py-2 px-4 rounded-lg w-full;
    @apply bg-neutral-300 dark:bg-neutral-700;
    @apply text-neutral-900 dark:text-neutral-300;
    @apply hover:bg-neutral-200 hover:dark:bg-neutral-600;
    @apply focus:bg-neutral-200 focus:dark:bg-neutral-600;
    @apply active:bg-neutral-300 active:dark:bg-neutral-700;
    @apply text-center text-nowrap;
    @apply transition-colors;
    @apply focus:outline-none focus:ring-offset-1 focus:ring-1 focus:ring-neutral-400;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"] {
    @apply p-2 rounded-md;
    @apply bg-neutral-300 dark:bg-neutral-900;
    @apply text-neutral-900 dark:text-neutral-300;
    @apply hover:bg-neutral-200 hover:dark:bg-neutral-600;
    @apply focus:bg-neutral-200 focus:dark:bg-neutral-600;
    @apply transition-all;
    @apply w-full;
    @apply focus:outline-none ring-0 focus:ring-2 focus:ring-neutral-400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

select {
    @apply p-2 rounded-md;
    @apply bg-neutral-300 dark:bg-neutral-900;
    @apply text-neutral-900 dark:text-neutral-300;
    @apply hover:bg-neutral-200 hover:dark:bg-neutral-600;
    @apply focus:bg-neutral-200 focus:dark:bg-neutral-600;
    @apply transition-all;
    @apply w-full;
    @apply h-full;
    @apply focus:outline-none ring-0 focus:ring-2 focus:ring-neutral-400;
}
label {
    @apply uppercase text-sm font-semibold;
    @apply text-neutral-400 dark:text-neutral-600;
}